CURSOR_API_KEY=
VAULT_CWD=/absolute/path/to/fomc/CMU-2027
PORT=8788
CURSOR_MODEL=auto
GOOGLE_PLACES_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=hpp4J3VqNfWAUOO0d1Us
ELEVENLABS_MODEL=eleven_flash_v2_5
TTS_VOICE=es-MX-DaliaNeural
